@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');


p {
  font-family: 'Alata', sans-serif;
}



.banner {
width:100%;
display: flex;
justify-content: center;
align-items: center;
height: 650px;
background: rgb(41,40,57);
background: linear-gradient(0deg, rgba(41,40,57,1) 0%, rgba(63,63,133,1) 35%, rgba(98,144,153,1) 100%);
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.bannerTitle {
max-width: 1080px;
font-style: normal;
font-weight: 500;
font-size: 4rem;
text-align: center;
line-height: auto;
display: flex;
flex-direction: column;
margin-left: 1rem;
margin-right: 1rem;
color: #FFFFFF;
}

#section2 div{
  display: block;
}

/* .subNav {
  background-color: #303030;
  height:
} */


.cardGrid {
  margin-top: 6rem;
  padding-right: 10rem;
  padding-left: 10rem;
  display: flex;
  justify-content: center;
}


.cardGrid .mat-card {
  background-color: #F0F0F0;
}

.example-card {
  max-width: 15rem;
  margin-bottom: 2rem;
  margin-right: 2rem;
  padding-top: 0;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.displayImg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 15rem;
  height: 15rem;
  top: 0px;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 3rem;
  margin-top: -3rem;
}


.actionButton {
  font-family: 'Alata', sans-serif;
  display: inline-block;
  float: left;
  margin-left: 1rem;
  box-sizing: content-box;
  max-width: 10rem;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 4px 16px 4px 16px;
  border-radius: 5px;
  color: rgba(255,255,255,0.8);
  text-align: center;
  text-indent: -3px;
  text-overflow: clip;
  background: linear-gradient(0deg, rgba(41,40,57,1) 0%, rgba(63,63,133,1) 35%, rgba(98,144,153,1) 100%);
  background-position: 50% 50%;
}
