
<div class="container">
   <section  id="section1" class="banner" >
     <p class="bannerTitle">An E-Learning Diary of ThreeJS</p>
   </section>

   <section id="section2 jumbotron">

     <mat-tab-group mat-align-tabs="center" dynamicHeight="true">

        <mat-tab label="Basic Geometry">

          <div class="row cardGrid">

            <mat-card class="example-card col-lg-4">
                  <div class="displayImg" [style.background-image] = "scURL ? 'url('+scURL+')' : 'url('+imgURL+')'">
                  </div>
                 <mat-card-header>
                   <div mat-card-avatar class="example-header-image"></div>
                   <mat-card-title>Cube</mat-card-title>
                   <mat-card-subtitle>Geometry</mat-card-subtitle>
                 </mat-card-header>
                 <mat-card-content >
                   <p>
                     A Basic Cube
                   </p>
                 </mat-card-content>
                 <mat-card-actions>
                   <button class="actionButton" [routerLink]="['../item' + '/cube']">Open</button>
                 </mat-card-actions>
            </mat-card>

            <mat-card class="example-card col-lg-4">
                 <div class="displayImg" [style.background-image] = "scURL ? 'url('+scURL+')' : 'url('+imgURL+')'">
                 </div>
                 <mat-card-header>
                   <div mat-card-avatar class="example-header-image"></div>
                   <mat-card-title>Sphere</mat-card-title>
                   <mat-card-subtitle>Geometry</mat-card-subtitle>
                 </mat-card-header>
                 <mat-card-content>
                   <p>
                     Basic Sphere
                   </p>
                 </mat-card-content>
                 <mat-card-actions>
                   <button class="actionButton" [routerLink]="['../item' + '/sphere']">Open</button>
                 </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab label="Complex Mesh">
          <div class="row cardGrid">
            <mat-card class="example-card col-lg-4" *ngFor="let mesh of meshes; index as i; trackBy: trackByFn">
                <div class="displayImg" [style.background-image] = "mesh.dataURL ? 'url('+mesh.dataURL+')' : 'url('+imgURL+')'"></div>
                 <mat-card-header>
                   <div mat-card-avatar class="example-header-image"></div>
                   <mat-card-title>{{mesh.title}}</mat-card-title>
                   <mat-card-subtitle>{{mesh.type}}</mat-card-subtitle>
                 </mat-card-header>
                 <mat-card-content>
                    <p>
                    {{ mesh.description}}
                   </p>
                 </mat-card-content>
                 <mat-card-actions>
                   <button class="actionButton" [routerLink]="['../item' + '/' + i]">Open</button>
                 </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>

        <mat-tab label="Interior">

          <div class="row cardGrid">

            <mat-card class="example-card col-lg-4" *ngFor="let room of rooms; index as i; trackBy: trackByFn">
                <div class="displayImg" [style.background-image] = "room.dataURL ? 'url('+room.dataURL+')' : 'url('+room.imgURL+')'"></div>
                 <mat-card-header>
                   <div mat-card-avatar class="example-header-image"></div>
                   <mat-card-title>{{room.title}}</mat-card-title>
                   <mat-card-subtitle>{{room.type}}</mat-card-subtitle>
                 </mat-card-header>
                 <mat-card-content>
                    <p>
                    {{room.description}}
                   </p>
                 </mat-card-content>
                 <mat-card-actions>
                   <button class="actionButton" [routerLink]="['../complex' + '/' + i]">Open</button>
                 </mat-card-actions>
            </mat-card>

          </div>


        </mat-tab>
      </mat-tab-group>

   </section>
</div>
